# http://www.gnu.org/software/bash/manual/bash.html#Command-Line-Editing
# GNU readline homepage:
# https://tiswww.case.edu/php/chet/readline/rltop.html
# checking current edit mode: either vi or emacs is on
# $set -o

##reload current bindings from the file
# https://superuser.com/questions/241187/how-do-i-reload-inputrc
# Ctrl+X Ctrl+R
## or
# $bind -f ./inputrc
# To map Ctrl+X Ctrl+R sequence to reload configuration for `emacs` and `vi` modes:
set keymap emacs
"\C-x\C-r": re-read-init-file
set keymap vi
"\C-x\C-r": re-read-init-file

# $bind -vV                                 ##show current readline variables
set colored-completion-prefix on
set visible-stats on
set colored-stats on
set completion-ignore-case on
#set show-all-if-ambiguous off

## $bind -pP                                 ##discover current key bindings


# https://stackoverflow.com/a/64935238/767604
## TERMINAL Shortcuts:
#
#Left            Move back one character
#Right           Move forward one character
#Ctrl+b          Move back one character
#Ctrl+f          Move forward one character
#
#Alt+Left        Move back one word
#Alt+Right       Move forward one word
#Alt+b           Move back one word
#Alt+f           Move forward one word
#
#Cmd+Left        Move cursor to start of line
#Cmd+Right       Move cursor to end of line
#Ctrl+a          Move cursor to start of line
#Ctrl+e          Move cursor to end of line
#
#Ctrl+d          Delete character after the cursor
#Backspace       Delete character before the cursor
#Ctrl+h          Delete character before the cursor
#
#Alt+Backspace   Delete word before cursor
#Ctrl+w          Delete word before cursor
#Alt+w           Delete word before the cursor
#Alt+d           Delete word after the cursor
#
#Cmd+Backspace   Delete everything before the cursor
#Ctrl+u          Delete everything before the cursor
#Ctrl+k          Delete everything after the cursor
#
#Ctrl+l          Clear the terminal
#
#Ctrl+c          Cancel the command
#Ctrl+y          Paste the last deleted command
#Ctrl+_          Undo
#
#Ctrl+r          Search command in history - type the search term
#Ctrl+j          End the search at current history entry and run command
#Ctrl+g          Cancel the search and restore original line
#
#Up              previous command from the History
#Down            Next command from the History
#Ctrl+n          Next command from the History
#Ctrl+p          previous command from the History
#
#Ctrl+xx         Toggle between first and current position

##https://unix.stackexchange.com/questions/76566/where-do-i-find-a-list-of-terminal-key-codes-to-remap-shortcuts-in-bash?answertab=votes#tab-top
# $ sed -n l                                ##discover what given key combination send
# https://unix.stackexchange.com/a/550005/121494
## Also, to check what escape sequence is generated by a key or key combo press Ctrl+v in a terminal
## and then press the key/combo you want to know about.
#
# terminfo -- escape sequence upon pressing a key, e.g.
# $TERM=xterm tput kdch1 | sed -n l          ##discover what is sent upon pressing  <Delete>
#       \033[3~$
# infocmp -- what command corresponds to given sequence, e.g.
# infocmp -L1 | grep -Fi  "=\e[3~"           ##discover commands bound to \e[3~ aka \033[3~
#       key_dc=\E[3~

# Ctrl+Left/Right to move by whole words
#"\e[1;5C": forward-word
#"\e[1;5D": backward-word

# Ctrl+Backspace/Delete to delete whole words
#"\e[3;5~": kill-word
#"\C-_": backward-kill-word

# Ctrl+Shift+Backspace/Delete to delete to start/end of the line
#"\e[3;6~": kill-line
#"\xC2\x9F": backward-kill-line  # for UTF-8
#"\x9F": backward-kill-line     # for ISO-8859-x
#"\e\C-_": backward-kill-line   # for any other charset

# Alt-Backspace for undo
#"\e\d": undo
#"\ec" : capitalize-word
#"\el" : downcase-word
#"\eu" : upcase-word

# Up/Down for searching command history
"\e[A": history-search-backward
"\e[B": history-search-forward

# Ctrl+Up/Down for searching command history
"\e[1;5A": reverse-search-history
"\e[1;5B": forward-search-history


"\e[2~": overwrite-mode
#TAB: menu-complete

